# Postgres
POSTGRES_DB=lms_rag
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password

# pgAdmin
PGADMIN_DEFAULT_EMAIL=your_email@example.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password

# App
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/lms_rag
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_postgres_password